body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-image: url("table.jpg");
    background-size: cover;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

#message-el
{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}